.pc/
debian/files
debian/live-config-doc.debhelper.log
debian/live-config-doc.substvars
debian/live-config-doc/
debian/live-config-systemd.debhelper.log
debian/live-config-systemd.substvars
debian/live-config-systemd/
debian/live-config-sysvinit.debhelper.log
debian/live-config-sysvinit.postinst.debhelper
debian/live-config-sysvinit.postrm.debhelper
debian/live-config-sysvinit.substvars
debian/live-config-sysvinit/
debian/live-config-upstart.debhelper.log
debian/live-config-upstart.postinst.debhelper
debian/live-config-upstart.postrm.debhelper
debian/live-config-upstart.substvars
debian/live-config-upstart/
debian/live-config.debhelper.log
debian/live-config.substvars
debian/live-config/
debian/patches/
debian/tmp/
